
<html lang="em" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::Layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Product</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section>
            <div class="container-fluid p-5 mt-3">
              <div class="row">

                <div class="col-md-2 p-2 mt-5">
                    <img alt="" src="/img/cat.png" width="190%" height="300px">
                   </div>
             

               
                   <div class="col-md-6 offset-md-3">
                    <div class="shadow bg-body-tertiary rounded">
                      <div class="card">
                        <div class="card-header text-center"><p class="fs-4">Edit Product</p>
                          <hr/>
            <a href="/admin/" class="text-decoration:none"><i class="fa-solid fa-arrow-left"></i> Back</a>
                          <th:block th:if="${session.succMsg}">
                              <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                              <th:block th:text="${@commonServiceImpll.removeSessionMessage()}"></th:block>
                              </th:block>
                              <th:block th:if="${session.errorMsg}">
                              <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                               <th:block th:text="${@commonServiceImpll.removeSessionMessage()}"></th:block>
                              </th:block>
                            </div>
                  <div class="card-body">
                   <form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${product.id}">
                      <div class="mb-3">
                       <label>Enter Title</label><input type="text" name="title" class="form-control" th:value="${product.title}">
                      </div>
                      <div class="mb-3">
                       <label>Enter Description</label><textarea rows="3" cols="" class="form-control"
                       name="description">[[${product.description}]]</textarea>
                      </div>
                      <div class="mb-3 col">
                       <label>Category</label><select class="form-control" name="category"/>
                       <option>[[${product.category}]]</option>
											<option th:each="c:${categories}">[[${c.name}]]</option>
                      </select>
                      <div class="mb-3">
                        <label>Enter Price</label> <input type="number" name="price"
                            class="form-control"  th:value="${product.price}">
                          </div>
                      </div>
                      
                     <div class="row">
                      <div class="mb-3 col">
                        <label>Discount</label>
                        <input type="number" name="discount"
                        class="form-control"  th:value="${product.discount}">
                      </div>
                       <div class="mb-3 col">
                        
                        
                         <label>Discount Value</label> <input type="number"
                             class="form-control"  th:value="${product.discountPrice}">
                       </div>
                      </div>
                      <div class="mb-3">
                        <label>Status</label>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" th:checked="${product.isActive==true}"
                                value="true" name="isActive" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Active </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="isActive" th:checked="${product.isActive==false}" 
                                value="false" id="flexRadioDefault2"> <label
                                class="form-check-label" for="flexRadioDefault2">
                                Inactive </label>
                        </div>                  
             
                      
     
                     
               <div class="row">
                <div class="mb-3 col">
                 <label>Enter Stock</label><input type="text" name="Stock" class="form-control"  th:value="${product.stock}">
   
                </div>
                <div class="mb-3 col">
                   <label>Upload Images</label><input type="file" name="file" class="form-control"  th:value="${product}">
     
                  </div>
                  <div class="mt-1">
                  <img th:src="@{'/img/product_img/'+${product.image}}" width="70px" height="70px">

                </div>
               <button class="btn btn-primary col-md-12">Update</button>
           </form>
           </div>
            </div>
           </div>
          </div>
      
           </section>
        <script src="" async defer></script>
    </body>
</html>