
<html  lang="em" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::Layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
    
    </head>
    <body>
       <section>

         <div class="container p-5">
         <p class="text-center fs-3 mt-2">Admin DashBoard</p>
         <div class="row p-5">
         <div class="col-md-4 mt-2">
            <a href="/admin/loadAddProduct" class="text-decoration-none"> 
            
           <div class="card card-sh">
             <div class="card-body text-center text-primary">
                <i class="fa-solid fa-square-plus fa-3x"></i>
                <h4>Add Product</h4>
            </div>
           </div>
        </a>
         </div>
         <div class="col-md-4 mt-2">
            <a href="/admin/Category" class="text-decoration-none"> 
           <div class="card card-sh">
             <div class="card-body text-center text-warning">
                <i class="fa-solid fa-list fa-3x"></i>
                <h4>Add Category</h4>
            </div>
           </div>
        </a>
        </div>
         <div class="col-md-4 mt-2">
           <a href="/admin/product" class="text-decoration-none"> 
          <div class="card card-sh">
            <div class="card-body text-center text-warning">
               <i class="fa-solid fa-table-list fa-3x"></i>
               <h4>View Products</h4>
           </div>
          </div>
       </a>
       </div>
        <div class="col-md-4  mt-4">
                <a href="/admin/orders" class="text-decoration-none"> 
               <div class="card card-sh">
                 <div class="card-body text-center text-warning">
                    <i class="fa-solid fa-box-open fa-3x"></i>
                    <h4>Orders</h4>
                </div>
               </div>
            </a>
        </div>
        <div class="col-md-4  mt-4">
            <a href="/admin/users?type=1" class="text-decoration-none"> 
           <div class="card card-sh">
             <div class="card-body text-center  text-primary">
                <i class="fa-solid fa-circle-user fa-3x"></i>
                <h4>Users</h4>
            </div>
           </div>
        </a>
    </div>
    <div class="col-md-4  mt-4">
        <a href="/admin/add-admin" class="text-decoration-none"> 
       <div class="card card-sh">
         <div class="card-body text-center  text-primary">
            <i class="fa-solid fa-user-plus fa-3x"></i>
            <h4>Add admin</h4>
        </div>
       </div>
      </a>
   </div>
   <div class="col-md-4  mt-4 ">
      <a href="/admin/users?type=2" class="text-decoration-none"> 
     <div class="card card-sh">
       <div class="card-body text-center  text-primary">
          <i class="fa-solid fa-user-plus fa-3x"></i>
          <h4>Admin</h4>
      </div>
     </div>
   </a>
</div>
<div class="col-md-4  mt-4 ">
   <a href="/admin/feedback-dashboard" class="text-decoration-none"> 
  <div class="card card-sh">
    <div class="card-body text-center  text-primary">
       <i class="fa-solid fa-comment fa-3x"></i>
       <h4>FeedBackBoard</h4>
   </div>
  </div>
</a>
</div>



         </div>
         </div>

       </section>
        
    </body>
</html>