
<html lang="em" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::Layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section>
         <div class="container-fluid mt-5 ">
         <div class="row">
            <p class="text-center fs-2 text-uppercase fw-semibold">My Orders</p>
           
            <hr>
            <a href="/admin/" class="text-decoration:none"><i class="fa-solid fa-arrow-left"></i> Back</a>
            <th:block th:if="${session.succMsg}">
              <p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
              <th:block th:text="${@commonServiceImpll.removeSessionMessage()}"></th:block>
              </th:block>
              <th:block th:if="${session.errorMsg}">
              <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
               <th:block th:text="${@commonServiceImpll.removeSessionMessage()}"></th:block>
              </th:block>
         <div class="col-md-4 p-4">
          
           <form action="/admin/search-order" method="get">
            <div class="row">
            <div class="col">
           <input type="text" class="form-control" name="OrderId"  placeholder="Enter order id">
            </div>
            <div class="col">
            <button class="btn btn-primary col">Search</button>
            </div>
        </div>
          </form>
        </div>
          <div class="col-md-12 ps-4 pe-4">
            <div class="shadow bg-body-tertiary rounded">
            <table class="table table-bordered">
            
                  <thead class="table-light">
                    <tr>
                      <th scope="col">Order Id</th>
                      <th scope="col">Deliver Details</th>
                      <th scope="col">Date</th>
                      <th scope="col">Product Details</th>
                      <th scope="col">Price</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  
                <tbody>
              <th:block th:if="${search}"> 
                   <th:block th:if="${orderDtls!=null}">
                  <td>[[${orderDtls.orderId}]]</td>
                  <td>
                 Name:[[${orderDtls.orderAddress.firstName+' '+orderDtls.orderAddress.lastName}]]<br>
                 Email:[[${orderDtls.orderAddress.email}]]<br>
                 Mobileno:[[${orderDtls.orderAddress.mobileNumber}]]<br>
                 Address:[[${orderDtls.orderAddress.address}]]<br>
                 city:[[${orderDtls.orderAddress.city}]]<br>
                 state:[[${orderDtls.orderAddress.state}]]<br>
                  </td>
                  <td>[[${orderDtls.orderDate}]]</td>
                  <td>[[${orderDtls.product.title}]]</td>
                  <td>Quantity =[[${orderDtls.quantity}]]<br>Price: [[${orderDtls.price}]]<br>Total Price =[[${orderDtls.quantity * orderDtls.price}]]</td>
                  <td> [[${orderDtls.status}]]</td>
                  <td>
                  
                   <form action="/admin/update-order-status" method="post">
                   <div class="row">
                   <div class="col">
                   <select class="form-control" name="st" >
                    <option>-select-</option>
                   <option value="1">In Progress</option>
                   <option value="2">Order Received</option>
                   <option value="3">Product Packed</option>
                   <option value="4">Out for Delivery</option>
                   <option value="5">Delivered</option>
                   <option value="6">Cancelled</option>
                   </select>
                    </div>
                    <input th:value="${orderDtls.id}" name="id" type="hidden">
                    <div class="col">
                      <th:block
                            th:if="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered'}">
                            <button class="btn btn-primary btn-sm col disabled">Update</button>
                          </th:block>
                          <th:block
                            th:unless="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered'}">
                            <button class="btn btn-sm btn-primary ">Update</button>
                          </th:block>
                    </div>
                    </div>
                    </form>
                    
                </td>
              </th:block>
              <th:block th:unless="${orderDtls!=null}">

              <p class="fs-3 text-center text-danger">[[${errorMsg}]]</p>



              </th:block>

              </th:block>
              <th:block th:unless="${search}"> 
                <tr th:each="o:${orders}">
                  <td>[[${o.orderId}]]</td>
                  <td>
                 Name:[[${o.orderAddress.firstName+' '+o.orderAddress.lastName}]]<br>
                 Email:[[${o.orderAddress.email}]]<br>
                 Mobileno:[[${o.orderAddress.mobileNumber}]]<br>
                 Address:[[${o.orderAddress.address}]]<br>
                 city:[[${o.orderAddress.city}]]<br>
                 state:[[${o.orderAddress.state}]]<br>
                  </td>
                  <td>[[${o.orderDate}]]</td>
                  <td>[[${o.product.title}]]</td>
                  <td>Quantity =[[${o.quantity}]]<br>Price: [[${o.price}]]<br>Total Price =[[${o.quantity * o.price}]]</td>
                  <td> [[${o.status}]]</td>
                  <td>
                  
                   <form action="/admin/update-order-status" method="post">
                   <div class="row">
                   <div class="col">
                   <select class="form-control" name="st" >
                    <option>-select-</option>
                   <option value="1">In Progress</option>
                   <option value="2">Order Received</option>
                   <option value="3">Product Packed</option>
                   <option value="4">Out for Delivery</option>
                   <option value="5">Delivered</option>
                   <option value="6">Cancelled</option>
                   </select>
                    </div>
                    <input th:value="${o.id}" name="id" type="hidden">
                    <div class="col">
                      <th:block
                            th:if="${o.status=='Cancelled' || o.status=='Delivered'}">
                            <button class="btn btn-primary btn-sm col disabled">Update</button>
                          </th:block>
                          <th:block
                            th:unless="${o.status=='Cancelled' || o.status=='Delivered'}">
                            <button class="btn btn-sm btn-primary ">Update</button>
                          </th:block>
                    </div>
                    </div>
                    </form>
                    
                </td>
                </tr>

            </th:block>
          </tbody>
            </table>
            <th:block th:if="${!search}">
                                    <!--pagination start-->
                                               <div class="row mt-3">
                                                <div class="col-md-4">TotalElements:[[${totalElements}]]</div>
                                                <div class="col-md-6">
                                             <nav aria-label="Page navigation example">
                                              <ul class="pagination">
                                                <li class="page-item" th:classappend="${isFirst} ? 'disabled':''">
                                                  <a class="page-link" th:href="@{'/admin/orders?pageNo='+${pageNo-1}}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                  </a>
                                                </li>
                                                <li th:each="i:${#numbers.sequence(1,totalPages)}"
                                                ><a class="page-link" 
                                                th:href="@{'/admin/orders?pageNo='+${i-1}}"
                                                th:classappend="${pageNo+1 == i}?'active':''">[[${i}]]</a>
                                                </li>
                                               <li class="page-item" th:classappend="${isLast} ? 'disabled':''">
                                                  <a class="page-link" th:href="@{'/admin/orders?pageNo='+${pageNo+1}}"
                                                  aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                  </a>
                                                </li>
                                              </ul>
                                            </nav>
                                          </div>
                                          </div>
                                          <!--pagination ends-->
                                        </th:block>
        </div>
      </div>
 
         </div>
        </div>
        </section>
        <script src="" async defer></script>
    </body>
</html>