<!DOCTYPE html>
<html lang="em" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <section>
          <div class="container mt-5 p-5">
            <form action="/user/save"  method="post" id="orders" novalidate>    
            <div class="row">
               
            <div class="col-md-6 p-5">
                  
                  
                  <div class="mb-5 row ">
                    <p class="text-center fs-2">Fill Address</p>
                    <hr>
                  <input type="text" name="firstName" placeholder="first Name"
                  class="form-group col">

                  <input type="text" name="lastName" placeholder="last Name" class="form-group col ms-2">
                  </div> 
                  <div class="mb-5 row">
                    <input type="text" name="email" placeholder="email"
                    class="form-group col">
  
                    <input type="text" name="mobileNumber" placeholder="Mobile Number" class="form-group col ms-2">
                    </div>  
                 
                      <div class="mb-5 row">
                        <input type="text" name="address" placeholder="Address"
                        class="form-group col">
      
                        <input type="text" name="city" placeholder="City" class="form-group col ms-2">
                        </div>  
                     
                        <div class="mb-5 row">
                            <input type="text" name="state" placeholder="state"
                            class="form-group col">
          
                            <input type="text" name="pincode" placeholder="pincode" class="form-group col ms-2">
                            </div>  
                         
                 

            </div>
               <div class="col-md-6  p-5">
                 <p class="text-center fs-2">Payment Type</p>
                 <hr>
                 <div class="card">
                   <div class="card-body">
                      <table class="table table-borderless">
                        <tr>
                         <td>Total Price</td>
                         <td>:</td>
                          <td>&#8377;  [[${orderPrice}]]</td>
                        </tr>
                        <tr>
                            <td>Delivery Fee</td>
                            <td>:</td>
                             <td>&#8377; 250</td>
                           </tr>
                           <tr>
                            <td>Tax</td>
                            <td>:</td>
                             <td>&#8377; 100</td>
                           </tr>
                           <tr class="border-top">
                            <td>Total Price</td>
                             <td>:</td>
                             <td>&#8377;  [[${totalOrderPrice}]]</td>
                           </tr>
                      </table>

                   </div>
                </div>
                  <div class="mt-2">
                  <div class="card-body">
                  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                 <!--<form action="" method="post">-->
                  <div class="mb-3">
                        <label class="form-label">Select Payment Type</label>
                         <select class="form-control" name="paymentType">
                         <option>--select--</option>
                         <option value="COD">--Cash on Delivery--</option>
                         <option value="ONLINE">--Online Payment--</option>
                         </select>
                         </div>
      
                      
                      <button type="submit"
                        class="btn bg-primary text-white col-md-12">Place Order</button>
                   <!-- </form>-->
                  </div>
                  <div>
                  
                </div>
              </form>
          </div>
          

        
    </section>

</body>
</html>