
<html lang="em" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            
        </title>
         
    </head>
    <body>
        <section>
        <div class="container-fluid bg-info-subtle text-info-emphasis  p-5 mt-5">
         <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="search" method="get">
                <div class="input-group">
                 <input type="text" class="form-control" name="ch">
                 <button class="btn btn-light text-dark ms-3 col-md-2"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </div>
                </form>
             </div>
          </div>
        </div>
       <div class="container-fluid mt-1">
          <div class="row">
            <div class="col-md-2 p-0">
              <div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
                <div class="card-body">
                <div class="list-group list-group-flush">
                  <p class="fs-5">Category</p>
                 <a href="/product"  th:classappend="${paramvalue==''} ? 'active' : ''"
                 class="list-group-item list-group-item-action" aria-current="true"><p class="fs-4">All</p></a>
                 <a href="#"  th:each="c:${categories}" th:href="@{'/product?category='+${c.name}}"
                 th:classappend="${paramvalue == c.name} ? 'active':''"
                 class="list-group-item list-group-item-action " aria-current="true">[[${c.name}]]</a>
                   </div>
                  </div>
                </div>
            </div>
            <div class="col-md-10">
              <div class="shadow bg-body-tertiary rounded">
              <div class="card">
               <div class="card-body">
                <p class="fs-3 text-center">Products</p>
                <div class="row">
                  <th:block th:if="${productSize > 0}">
                  <div class="col-md-3" th:each="p:${products}">
                    <div class="card">
                    <div class="card-body text-center">
                    <img alt="" th:src="@{'/img/product_img/'+${p.image}}"
                      width="100%" height="150px">
                      <p class="fs-5 text-center">[[${p.title}]]</p>
                      <div class="row text-center">
                       <p class="fs-6  fw-bold ">
                        <span>&#8377;[[${p.discountPrice}]]</span><br>
                        <span class="text-decoration-line-through text-secondary">&#8377;[[${p.price}]] </span><span class="fs-6 text-success fw-bold">[[${p.discount}]]</span>
                       </p>
                       <a  th:href="@{'/products/'+${p.id}}" class="btn btn-primary ">View Details</a>
                    </div>
                      </div>
                </div>

          </div>
        </th:block>
        <th:block th:unless="${productSize > 0}">
       <p class="fs-4 text-center mt-4 text-danger">
        Product not available
      </p>
      </th:block>

               </div>
              </div>
            </div>
            
            </div>
               <!--start pagination-->
                        <div class="row mt-3">
                        <div class="col-md-4">TotalElements:[[${totalElements}]]</div>
                          <div class="col-md-6"><nav aria-label="Page navigation example">
                            <th:block th:if="${productSize > 0}">
                            <ul class="pagination">
                              <li class="page-item" th:classappend="${isFirst} ? 'disabled' :''">
                                <a class="page-link" 
                                 th:href="@{'/product?pageNo='+${pageNo-1}}" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                           <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item">
                           <a class="page-link" th:href="@{'/product?pageNo='+${i-1}}"
                            th:classappend="${pageNo+1 == i}?'active':''">[[${i}]]</a>
                                </li>
                              <li class="page-item" th:classappend="${isLast} ? 'disabled':''">
                                <a class="page-link"
                                th:href="@{'/product?pageNo='+${pageNo+1}}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        </th:block>
                         </div>
                        </div>
                        
        
                        <!--end pagination-->
                    </div>
        </section>
    </body>
</html>